.columns {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.col {
  width: 270px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  flex: none;
}

.spacer {
  flex: 1;
}

@media (max-width: 680px) {
  .columns {
    flex-direction: column;
  }

  .col {
    width: 100%;
  }

  .spacer {
    display: none;
  }
}
