.columns {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.fixedCol {
  width: 270px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  flex: none;
}

.flexCol {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
